<html>
<head>
    <title>DevDay API</title>
</head>
<body>
    <h1>
        Welcome to DevDay API
    </h1>
    <h3>Available resources</h3>
    <ul>
        <li>Agenda</li>
        <li>Session</li>
        <li>Speaker</li>        
    </ul>
</body>
</html>
